body {
	margin:0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #dbdbdb;
}

div {
	display: block;
}

a:link,a:visited,a:hover,a:active {
	color: #777777;
	text-decoration: none;
}

.wrapper {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}

.container {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
}

.headercon {
	float: left;
	width: 100%;
	background: url(../image/headercon.png) repeat-x left top;
	border-bottom: 1px #6b4525 solid;
}

.header {
	float: left;
	width: 1000px;
	height: 139px;
}

.logo {
	float:left;
	width: 285px;
	height: 54px;
	margin: 37px 40px 0 10px;
}

.menu {
	float: left;
	height: 36px;
	width: 830px;
	margin: 19px 0 0 0;
}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	float: left;
	display: inline;
	height: 36px;
	margin: 0 1px 0 0;
}

.menu ul li a {
	display: block;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	text-shadow: 1px 1px 1px #3d2815;
	background: url(../image/menu.png) repeat-x left top;
	line-height: 36px;
	padding: 0 30px;
}

.bannercon {
	float: left;
	width: 100%;
	background: url(../image/bannercon.png) no-repeat left top #25160a;
	padding: 15px 0;
	margin:0 0 20px 0;
}

.banner {
	float: left;
	width: 1000px;
	height: 70px;
	margin: 0 0 15px 0;
	padding: 40px 0 0 45px;
}

.banner h1 {
	height: 38px;
	line-height: 38px;
	margin: 0 0 10px 0;
	padding: 0;
	color: #FFF;
	text-shadow: 1px 1px 1px #a87301;
	font-size: 46px;
	font-weight: normal;
	font-family:  'Swiss721BoldCondensedBTRg'
}

.content {
	float: left;
	width: 1000px;
	margin: 0 0 20px 0;
}

.form-style {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D3D3D3;
	text-shadow: 1px 1px 1px #444;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display:block;
}

.boxlt-wide {
	padding: 20px;
	background: url(../image/boxltbg.png) repeat-x left top #f0f0f0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
	margin: 0 0 20px 0;
}

.form-label {
	max-width:500px;
	height: 50px;
	text-align:center;
	display: block;
	margin: 0px auto;
}

.form-label span{
	float:left;
	width:20%;
	text-aligh:right;
	padding-right:10px;
	margin-top:10px;
	font-weight:bold;
}

.form-label input[type="text"], .form-label input[type="password"] {
	border:none;
	color: #ffffff;
	height: 25px;
	line-height:15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	width: 70%;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background: #808080;
}

.form-style .button {
	background: #FFCC02;
	display: block;
	margin: 0 auto;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #585858;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 1px 1px 1px #FFE477;
	font-weight: bold;
	box-shadow: 1px 1px 1px #3D3D3D;
	-webkit-box-shadow:1px 1px 1px #3D3D3D;
	-moz-box-shadow:1px 1px 1px #3D3D3D;
}
}

.boxlt-wide h2{
	font-size: 17px;
}

.boxlt-wide h2 a {
	font-size: 20px;
	color: #f60;
}

.boxlt-wide h1 {
	font-size: 25px;
	color: #f60;
	text-align: center;
}

.content-end {
	font-size: 13px;
	margin: 20px 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.sidebar {
	float: right;
	margin-right: 0;
}

.page {
	margin: 30px 0 40px 0;
	font: 14px Arial;
	white-space: nowrap;
}

.page strong, .page a{ 
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin-right: 9px;
	font-weight: bold;
}

.page strong .pagecount {
	border: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
}

.page .pagecount {
	display: block;
	width: 34px;
	height: 34px;
	border: 1px solid #e1e2e3;
	cursor: pointer;
}

.page .n {
	border: 1px solid #e1e2e3;
	padding: 0 18px;
}

